*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 239, 158);
    background: linear-gradient(to right, rgb(190, 190, 190), rgb(159, 239, 158));
}

.container {
    position: absolute; 
    top: 100px; 
    left: 50%;
    transform: translateX(-50%); 
    background: #fff;
    width: 450px;
    padding:1.5rem;
    margin:50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.7);
}

form {
    margin:0 1rem;
}

.form-title{
    font-size:1.5rem;
    text-align: center;
    padding: 1.3rem;
    margin-left: 0.4rem;
}

input {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
}

.input-group {
    padding: 1% 0;
    position: relative;
}

.input-group i {
    position: absolute;
    color: black;
}

input:focus {
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(327, 90%, 28%);
}

input::placeholder {
    color: transparent;
}

label {
    color: #757575;
    position: relative;
    left: 1.2em;
    right:1.2em;
    top:-1.3em;
    cursor:auto;
    transition: 0.3s ease all;
}

input:focus~label,input:not(:placeholder-shown)~label{
    top:-3em;
    color:hsl(327, 90%, 28%);
    font-size: 15px;
}

.btn {
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgb(49, 101, 53);
    color: white;
    cursor:pointer;
    transition: 0.9s;
}

.link-other-form {
    display: flex;
    justify-content: space-around;
    padding: 0.4rem;
    margin-top: 0.9rem;
    color: #757575;
}

button {
    color: rgb(79, 79, 79);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}

button :hover{
    text-decoration: underline;
    color:blue;
}