table {
    font-size: 16px;
    text-align: center;
    width: 720px;
    border-collapse:separate;
    border:solid rgb(114, 113, 113) 2px;
    border-radius:6px;
}

td, th {
    height: 50px;
    width: 120px;
    border-left:solid rgb(207, 205, 205) 2px;
    border-top:solid rgb(207, 205, 205) 2px;
}

th {
    background-color: rgb(180, 253, 197);
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}